.navbar-dark {
  background-color: transparent; }
  .navbar-dark .nav-link {
    color: #fff !important; }
  .navbar-dark .nav-link:hover {
    color: #D1C4E9 !important; }
  .navbar-dark .scrolledBar {
    background-color: #494e6b !important; }

.navbar-stormy {
  background-color: #494e6b; }

.navbar-transp {
  background-color: #b3aeae00; }

.jumbotron-fluid {
  background-image: url("../img/index-bg.jpg");
  background-size: cover; }

.row-header {
  margin: 0px 0px;
  padding: 0px 0px;
  min-height: 700px; }
  .row-header p {
    color: aliceblue;
    font-size: 20pt; }

.row-content {
  margin: 0px 0px;
  padding: 50px 0px;
  min-height: 400px; }
  .row-content h1 {
    color: #494e6b;
    padding-bottom: 20px; }
  .row-content ul {
    list-style-image: url("../img/list-marker-stormy-40x40.png");
    font-size: 24pt;
    color: #494e6b; }
    .row-content ul li {
      padding-bottom: 24px; }
      .row-content ul li p {
        font-size: 16pt; }

.second-row {
  background-image: url("../img/index-bg-2.jpg");
  background-size: cover; }

ul.light {
  list-style-image: url("../img/list-marker-white-40x40.png");
  color: #fff; }

.gray-tint {
  background-color: #b6a19e54; }

.gradient-tint {
  background: radial-gradient(circle, rgba(152, 135, 143, 0.377), rgba(73, 78, 107, 0.849)); }

body {
  padding: 0px;
  z-index: 0; }

.mainHeader {
  color: #fff;
  font-size: 44pt; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.map-area {
  background-color: #98878F; }

.modal-body {
  background-color: #98878F; }

.modal-header {
  background-color: #985E6D; }
  .modal-header h4 {
    color: floralwhite; }
  .modal-header button {
    color: floralwhite; }

.footer {
  background-color: #192231; }
  .footer .list-inline a {
    color: #fff; }
  .footer p {
    color: #afafaf; }
