$lt-gray: #ddd;
$background-dark: #985E6D;
$background-stormy: rgb(73, 78, 107);
$background-cloud: #98878F;
$background-evening: #192231;
$background-dusty-rose-transp: #b6a19e54;
$gradient-tint: radial-gradient(circle, rgba(152, 135, 143, 0.377), rgba(73, 78, 107, 0.849));


@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px 0px;
	padding: $pad-up-dn $pad-left-right;
}

.navbar-dark {
    background-color: transparent;
    .nav-link {
        color: #fff !important;
    }
    
    .nav-link:hover {
        color: #D1C4E9 !important;
    }

    .scrolledBar {
        background-color: $background-stormy !important;
    }
}

.navbar-stormy {
    background-color: $background-stormy;
}

.navbar-transp {
   background-color: #b3aeae00
}

.jumbotron-fluid {
    background-image: url('../img/index-bg.jpg');
    background-size: cover;
    
}

.row-header{
    @include zero-margin(0px,0px);
    min-height: 700px;
    p {
        color: aliceblue;
        font-size: 20pt;
    }
}

.row-content {
    @include zero-margin(50px,0px);
    min-height:400px;
    h1 {
        color: $background-stormy;
        padding-bottom: 20px;
    }
    ul {
        list-style-image: url('../img/list-marker-stormy-40x40.png');
        font-size: 24pt;
        color: $background-stormy;
        li {
            padding-bottom: 24px;
            p {
                font-size: 16pt;
            }
        }
    }
}
.second-row {
    background-image: url('../img/index-bg-2.jpg');
    background-size: cover;
}

ul.light {
    list-style-image: url('../img/list-marker-white-40x40.png');
    color: #fff;
}

.gray-tint {
    background-color: $background-dusty-rose-transp;
}

.gradient-tint {
    background: $gradient-tint;
}

body{
    padding: 0px;
    z-index:0;
}

.mainHeader {
    color: #fff;
    font-size: 44pt;
}

.tab-content {
    border-left: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    padding: 10px;
}

.map-area {
    background-color: #98878F;
}

.modal-body {
    background-color: $background-cloud;
}

.modal-header {
    background-color: $background-dark;
    h4 {
        color: floralwhite;
    }
    button {
        color: floralwhite;
    }
}

.footer {
    background-color: $background-evening;
    .list-inline {
        a {
            color: #fff;
        }
    }
    p {
        color: rgb(175, 175, 175);
    }
}